.hc-form{
    --hc-form-label-font-size:var(--hc-font-size-base);
    --hc-form-content-font-size:var(--hc-font-size-base);
}
.hc-form-item{
    display: flex;
    margin-bottom: 18px;
    .hc-form-item__label{
        width: 150px;
        height: 32px;
        line-height: 32px;
        padding: 0 12px 0 0;
        box-sizing: border-box;
        display: inline-flex;
        justify-content: flex-end;
        font-size: var(--hc-form-label-font-size);
        color: var(--hc-text-color-regular);
    }
    .hc-form-item__content{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex: 1;
        line-height: 32px;
        font-size: var(--hc-form-label-font-size);
        min-width: 0;
        position: relative;
    }
    .hc-form-item__error-msg{
        position: absolute;
        top: 100%;
        left: 0;
        padding-top: 2px;
        color: var(--hc-color-danger);
        font-size: 12px;
        line-height: 1;
    }
}
.hc-form-item.error .hc-input__wrapper{
    box-shadow: 0 0 0 1px var(--hc-color-danger) inset;
}
.hc-form-item.success .hc-input__wrapper{
    box-shadow: 0 0 0 1px var(--hc-color-success) inset;
}
.hc-form-item.required> .hc-form-item__label::before{
    content: '*';
    color: var(--hc-color-danger);
    margin-right: 4px;
}
