body{
    font-family: var(--hc-font-family);
    font-weight: 400;
    font-size: var(--hc-font-size-base);
    color: var(--hj-text-clor-primary);
    -webkit-font-sommthing:antialiased;
    -moz-osx-font-sommthing:grayscale;
    -webkit-tap-highlight-color: transparent;
}

a{
    color: var(--hc-color-primary); 
    text-decoration: none;

    &:hover,
    &:focus{
        color: var(--hc-color-primary-light-3);
    }

    &:active{
        color: var(--hc-color-primary-dark-2);
    }
}

