.hc-collapse {
  --hc-collapse-border-color: var(--hc-border-color-light);
  --hc-collapse-header-height: 48px;
  --hc-collapse-header-bg-color: var(--hc-fill-color-blank);
  --hc-collapse-header-text-color: var(--hc-text-color-primary);
  --hc-collapse-header-font-size: 13px;
  --hc-collapse-content-bg-color: var(--hc-fill-color-blank);
  --hc-collapse-content-font-size: 13px;
  --hc-collapse-content-text-color: var(--hc-text-color-primary);
  --hc-collapse-disabled-text-color: var(--hc-disabled-text-color);
  --hc-collapse-disabled-border-color: var(--hc-border-color-lighter);
  border-top: 1px solid var(--hc-collapse-border-color);
  border-bottom: 1px solid var(--hc-collapse-border-color);
}
.hc-collapse-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--hc-collapse-header-height);
  line-height: var(--hc-collapse-header-height);
  background-color: var(--hc-collapse-header-bg-color);
  color: var(--hc-collapse-header-text-color);
  cursor: pointer;
  font-size: var(--hc-collapse-header-font-size);
  font-weight: 500;
  transition: border-bottom-color var(--hc-transition-duration);
  outline: none;
  border-bottom: 1px solid var(--hc-collapse-border-color);
  &.disabled {
    color: var(--hc-collapse-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
  }
  &.active {
    border-bottom-color: transparent;
    .header-angle{
      transform: rotate(90deg);
    }
  }
  .header-angle{
    transition: transform var(--hc-transition-duration);
  }

}
.hc-collapse-item__content {
  will-change: height;
  background-color: var(--hc-collapse-content-bg-color);
  overflow: hidden;
  box-sizing: border-box;
  font-size: var(--hc-collapse-content-font-size);
  color: var(--hc-collapse-content-text-color);
  border-bottom: 1px solid var(--hc-collapse-border-color);
  padding-bottom: 25px;
}

.slide-enter-active,
.slide-leave-active {
  transition: height var(--hc-transition-duration) ;
}
